section {
  margin-inline: 3%;
  margin-block: 0;
}

body {
  background: #323131;;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size:1.2rem;
  text-align:justify;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  margin: auto;
}

#icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  gap: 3rem;
  margin-top: 1%;
}

#footer{
  position: relative;
  bottom: 0;
  width: 90%;
  padding: 3%;
  padding-left: 0;
  margin-top: 5%;
}

i {
  padding-left: 3%;
}

a, a:visited, a:hover, a:active {
  color: rgb(222, 213, 213);
}

* {
  font-family: monospace;
  font-weight: 400;
  text-align:justify;
  color: rgb(207, 205, 205);
}

#quote{
  text-align: center;
  margin-top: 1%;
  font-size: 1.25em;
}

#author{
  font-size: 1rem;
  text-align: right;
  font-style: italic;
  margin-top: 1%;
  font-size: 1em;
}

#pgp {
  font-family: monospace;
  font-size: 0.8rem;
  white-space: pre-wrap;
  text-align: center;
}